body {
  font-family: "Exo 2", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/pic1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  height: 97vh;
  max-width: 100vw;
  position: relative;
}

.container {
  max-width: 100vw;
  position: relative;
}

.timer {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  left: 15px;
  top: 10px;
}

.uncompletedTitle,
.completedTitle {
  display: none;
}

.hidden {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/pic2.jpg") no-repeat center center / cover;
  height: 100vh;
  width: 100%;
}

.switch-btn {
  position: relative;
  margin: 0 auto;
  width: 9.5rem;
  height: 2.25rem;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  border: 2px #fff solid;
  font-weight: 700;
}

.switch-btn span {
  display: inline-block;
  font-size: 0.95rem;
  cursor: pointer;
  color: #000;
}

.switch-btn span:first-of-type {
  padding-left: 1rem;
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fb5858;
  border-radius: 8px;
  margin: 0;
  display: block;
  transition: all 0.25s linear;
}

.slide .switch {
  left: 50%;
}
.heading-container {
  height: 100px;
}

.heading-container h1 {
  color: #fff;
  font-size: 2.875rem;
  font-weight: 400;
  margin-top: 2.875rem;
  text-align: center;
  height: 85px;
}

.container h1 span {
  color: #fb5858;
  font-weight: 600;
  transition: font-size 0.4s linear;
}

.largeFont {
  font-size: 3.75rem;
}

.subText {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  margin-top: 4rem;
  display: none;
}

.lists {
  color: #fff;
  display: grid;
  grid-template-columns: 1.5fr 1.2fr;
  column-gap: 3em;
  grid-auto-flow: row;
  margin: 30px 80px 0 80px;
  padding-bottom: 4rem;
  height: auto;
  max-width: 100%;
  visibility: visible;
}

.lists h3,
.lists h3 {
  text-align: center;
  font-size: 2rem;
}

.hide {
  display: none;
}

.uncompleted {
  position: relative;
}

.completed-sub,
.uncompleted-sub {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  column-gap: 0.5rem;
  margin-top: 1.5rem;
  padding: 10px 20px;
  border-radius: 8px;
  color: rgb(225, 249, 255);
  row-gap: 0.875rem;
}

.completed-sub {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.uncompleted-sub li:first-of-type::before {
  content: "NEXT";
  padding: 4px 6px;
  font-size: 1.25rem;
  position: absolute;
  left: -57px;
  top: 23px;
  border: 3px #fb5858 solid;
  background-color: #fb5858;
  border-radius: 5px;
}

ul li {
  font-size: 1.25rem;
  padding: 0.5rem 0px;
  max-width: 100%;
}

ul a {
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 3vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-ct {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  color: #fb5858;
  font-size: 0.85rem;
}

.copyright span {
  display: none;
}

@media only screen and (min-width: 1800px) {
  .completed-sub,
  .uncompleted-sub {
    column-gap: 2.5rem;
    row-gap: 0.75rem;
  }

  .lists {
    margin-top: 3.5rem;
    padding-bottom: 5rem;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 6em;
  }
}

@media only screen and (max-width: 850px) {
  .switch-btn {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
  }

  .lists {
    padding-bottom: 5rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .completed {
    margin-top: 3rem;
  }

  .completed-sub,
  .uncompleted-sub {
    column-gap: 1.5rem;
    row-gap: 1.25rem;
    column-gap: 4rem;
  }

  .footer {
    height: 3vh;
  }

  .copyright {
    text-align: right;
  }
}

@media only screen and (max-width: 425px) {
  body {
    background-attachment: fixed;
  }

  .timer {
    display: none;
  }

  .heading-container {
    height: 3.5rem;
  }

  .heading-container h1 {
    font-size: 1.625rem;
    margin-top: 2rem;
  }

  .largeFont {
    font-size: 2.25rem;
  }

  .subText {
    font-size: 2rem;
  }

  .uncompletedTitle,
  .completedTitle {
    display: block;
    text-align: center;
    width: 95%;
    margin: 0px auto -40px auto;
    color: #fff;
    font-size: 1.375rem;
    background-color: #2478ad72;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 5px 8px;
    line-height: 1.2;
    box-shadow: 0px 0px 8px #28a9fa;
    padding: 0.75rem 0;
  }

  .uncompletedTitle span {
    font-size: 1rem;
  }

  .completedTitle {
    position: relative;
    margin-bottom: -3px;
    width: 100%;
    padding: 1rem 0;
  }

  .uncompleted h3,
  .completed h3 {
    display: none;
  }

  .completed-sub,
  .uncompleted-sub {
    grid-template-columns: 1fr;
  }

  .uncompleted-sub li:first-of-type::before {
    display: none;
  }

  .uncompleted-sub li:first-of-type {
    border-top: none;
    padding-top: 1rem;
  }

  .completed-sub {
    width: 95%;
    margin: 0 auto;
    box-shadow: 1px 1px 3px #fb5858;
  }

  .completed-sub li:first-of-type {
    margin-top: 1rem;
  }

  .lists {
    margin: 4rem auto 0 auto;
    width: 100%;
  }

  .lists li {
    border: 1px #fb585891 solid;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    z-index: -1;
  }

  .footer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5px 10px;
    height: 4vh;
    display: block;
  }

  .footer-ct {
    margin: 0 0.5rem;
    display: block;
  }

  .footer-ct:first-of-type {
    display: none;
  }

  .copyright {
    text-align: center;
    padding-top: 4px;
  }

  .copyright span {
    display: inline-block;
  }
}
